<div class="p-3 col-lg-6 offset-lg-3">
    <h3 >Update password</h3>
    <hr class="mb-3">
    
    
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="oldpassword" placeholder="Password">
        <label for="oldpassword">Old Password</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="newpassword" placeholder="Password">
        <label for="newpassword">New Password</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="cnewpassword" placeholder="Password">
        <label for="cnewpassword">Confirm new Password</label>
      </div>
    

    
            <button type="button" class="mb-3 btn btn-primary" (click)="save()"><i class="bi bi-arrow-repeat"></i>&nbsp;&nbsp;Update password</button>
    </div>
